.rectangle-3357 {
  width: 198px;
  height: 1107px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #FDE5DF;
  border-radius: 45px;
}

.line-47 {
  width: 156px;
  height: 0px;
  left: 20px;
  top: 193.50px;
  position: absolute;
  outline: 1px #E68168 solid;
  outline-offset: -0.50px;
}

.line-49 {
  width: 156px;
  height: 0px;
  left: 21px;
  top: 957px;
  position: absolute;
  outline: 1px #E68168 solid;
  outline-offset: -0.50px;
}

.line-48 {
  width: 156px;
  height: 0px;
  left: 20px;
  top: 556px;
  position: absolute;
  outline: 1px #E68168 solid;
  outline-offset: -0.50px;
}

.line-47_01 {
  width: 156px;
  height: 0px;
  left: 21px;
  top: 373px;
  position: absolute;
  outline: 1px #E68168 solid;
  outline-offset: -0.50px;
}

.vector {
  width: 54.38px;
  height: 73.50px;
  left: 16.31px;
  top: 5.25px;
  position: absolute;
  background: #DD7095;
}

.off-removebg-preview-1 {
  width: 105px;
  height: 88px;
  left: 46px;
  top: 982px;
  position: absolute;
  border-radius: 45px;
}

.vector_01 {
  width: 56px;
  height: 58px;
  left: 71px;
  top: 85px;
  position: absolute;
  background: #880D1E;
  border-radius: 45px;
}

.vector_02 {
  width: 70px;
  height: 36px;
  left: 64px;
  top: 75px;
  position: absolute;
  background: #880D1E;
  border-radius: 45px;
}

.book {
  width: 74px;
  height: 74px;
  left: 60px;
  top: 428px;
  position: absolute;
  border-radius: 45px;
}

.location-sharp {
  width: 87px;
  height: 84px;
  left: 54px;
  top: 237px;
  position: absolute;
  overflow: hidden;
  border-radius: 45px;
}

.group-530 {
  width: 198px;
  height: 1107px;
  position: relative;
  border-radius: 45px;
}