.ellipse-2 {
  width: 20px;
  height: 19.98px;
  left: 1758px;
  top: 381.44px;
  position: absolute;
  background: #C4C4C4;
  border-radius: 9999px;
}

.sobrenosotros_span {
  color: #2A324B;
  font-size: 96px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.sobre-nosotros {
  left: 224px;
  top: 237px;
  position: absolute;
}

.frame-427318921 {
  width: 1920px;
  height: 968px;
  left: 0px;
  top: 10px;
  position: absolute;
}

.image-21 {
  width: 900px;
  height: 675px;
  left: 923px;
  top: 115px;
  position: absolute;
  border-radius: 25px;
}

.queesuniride_span_01 {
  color: #2A324B;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.queesuniride_span_02 {
  color: #2F327D;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.queesuniride_span_03 {
  color: #DD2D4A;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.queesuniride_span_04 {
  color: #2A324B;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.que-es-uniride {
  left: 770px;
  top: 76px;
  position: absolute;
  text-align: center;
}

.misin_span {
  color: #F6F6F6;
  font-size: 30px;
  font-family: Quicksand;
  font-weight: 700;
  line-height: 14px;
  word-wrap: break-word;
}

.misin {
  left: 31px;
  top: 31px;
  position: absolute;
}

.disearimplementaryvalidarunaplataformadigitalqueconecteconductoresypasajerosuniversitariosfomentandoeltrasladocompartidocomounaalternativaaccesiblesolidariaysostenible_span {
  color: #F6F6F6;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.disear-implementar-y-validar-una-plataforma-digital-que-conecte-conductores-y-pasajeros-universitarios-fomentando-el-traslado-compartido-como-una-alternativa-accesible-solidaria-y-sostenible {
  width: 592px;
  height: 161px;
  left: 31px;
  top: 38px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.visin_span {
  color: white;
  font-size: 30px;
  font-family: Quicksand;
  font-weight: 700;
  line-height: 14px;
  word-wrap: break-word;
}

.visin {
  left: 32px;
  top: 30px;
  position: absolute;
}

.serlastartupacadmicaquetransformelamovilidadestudiantilenlimametropolitanapromoviendounaexperienciadetransportemseficientesegurayrespetuosaconelmedioambientealmismotiempoquefortalecelacolaboracinentrepares_span {
  color: white;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.ser-la-startup-acadmica-que-transforme-la-movilidad-estudiantil-en-lima-metropolitana-promoviendo-una-experiencia-de-transporte-ms-eficiente-segura-y-respetuosa-con-el-medio-ambiente-al-mismo-tiempo-que-fortalece-la-colaboracin-entre-pares {
  width: 589px;
  height: 168px;
  left: 32px;
  top: 48px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.text_span {
  color: #2F327D;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.text {
  left: 959px;
  top: 108px;
  position: absolute;
  text-align: center;
}

.uniridenacecomorespuestaalosretosdetransportequeenfrentanmilesdeestudiantesuniversitariosenlimametropolitanaespecialmentequienesvivenlejosdesuscentrosdeestudioynocuentanconalternativaseconmicassegurasnirpidasparamovilizarseeldaadadeunestudiantemuchasvecesimplicalargostrayectoshorasperdidaseneltrficoyungastoconstantequeimpactatantoensutiempocomoensueconomaanteestarealidadnuestroequiposepropusobuscarunaalternativainnovadoraquenosoloalivieestasdificultadessinoquetambinbrindeunespacioparafortalecerlacomunidaduniversitariainspiradosenexperienciaspropiasydenuestroentornocercanovimoslaoportunidaddeproponerunasolucincolaborativacompartirviajesentreestudiantesconrutasyhorarioscompatiblesdeesanecesidadsurgeunirideunaaplicacinwebpensadaparafacilitarlaorganizacindetrasladoscompartidosdemaneraprcticasegurayconfiable_span {
  color: black;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.uniride-nace-como-respuesta-a-los-retos-de-transporte-que-enfrentan-miles-de-estudiantes-universitarios-en-lima-metropolitana-especialmente-quienes-viven-lejos-de-sus-centros-de-estudio-y-no-cuentan-con-alternativas-econmicas-seguras-ni-rpidas-para-movilizarse-el-da-a-da-de-un-estudiante-muchas-veces-implica-largos-trayectos-horas-perdidas-en-el-trfico-y-un-gasto-constante-que-impacta-tanto-en-su-tiempo-como-en-su-economa-ante-esta-realidad-nuestro-equipo-se-propuso-buscar-una-alternativa-innovadora-que-no-solo-alivie-estas-dificultades-sino-que-tambin-brinde-un-espacio-para-fortalecer-la-comunidad-universitaria-inspirados-en-experiencias-propias-y-de-nuestro-entorno-cercano-vimos-la-oportunidad-de-proponer-una-solucin-colaborativa-compartir-viajes-entre-estudiantes-con-rutas-y-horarios-compatibles-de-esa-necesidad-surge-uniride-una-aplicacin-web-pensada-para-facilitar-la-organizacin-de-traslados-compartidos-de-manera-prctica-segura-y-confiable {
  width: 1241px;
  height: 330px;
  left: 334px;
  top: 211px;
  position: absolute;
}

.nuestroequipo_span {
  color: #2A324B;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.nuestro-equipo {
  left: 839px;
  top: 1982px;
  position: absolute;
  text-align: center;
}

.favioenriquearroyogamarra_span {
  color: black;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.favio-enrique-arroyo-gamarra {
  left: 87px;
  top: 182px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image {
  width: 150px;
  height: 150px;
  left: 95px;
  top: 16px;
  position: absolute;
  border-radius: 100px;
}

.soyfavioarroyogamarraestudiantedelacarreradecienciasdelacomputacinsoyunapersonamuyapasionadaporloquehagoactualmentedeseoculminarmicarrerayestudiarenelextranjerocontodoslosconocimientosposiblesquepuedaadquiriraunqueprincipalmentemegustaracentrarmeendatascienceciberseguridadeinteligenciaartificial_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.soy-favio-arroyo-gamarra-estudiante-de-la-carrera-de-ciencias-de-la-computacin-soy-una-persona-muy-apasionada-por-lo-que-hago-actualmente-deseo-culminar-mi-carrera-y-estudiar-en-el-extranjero-con-todos-los-conocimientos-posibles-que-pueda-adquirir-aunque-principalmente-me-gustara-centrarme-en-data-science-ciberseguridad-e-inteligencia-artificial {
  width: 283px;
  left: 40px;
  top: 251px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image_01 {
  width: 150px;
  height: 150px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.francescanicolebancestorres_span {
  color: black;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.francesca-nicole-bances-torres {
  left: 85px;
  top: 182px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.soyfrancescanicolebancestorresestudiantedelacarreradecienciasdelacomputacinmeinteresanlostemasrelacionadoscondatascienceymachinelearningtengoconocimientosenlenguajesdeprogramacincomosqlrpythonycademscreoquepuedoaportarenestetrabajoconmishabilidadesenhtmlcssangularybasesdedatos_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.soy-francesca-nicole-bances-torres-estudiante-de-la-carrera-de-ciencias-de-la-computacin-me-interesan-los-temas-relacionados-con-data-science-y-machine-learning-tengo-conocimientos-en-lenguajes-de-programacin-como-sql-r-python-y-c-adems-creo-que-puedo-aportar-en-este-trabajo-con-mis-habilidades-en-html-css-angular-y-bases-de-datos {
  width: 283px;
  left: 28px;
  top: 250px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image_02 {
  width: 150px;
  height: 150px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.image-42 {
  width: 157px;
  height: 190px;
  left: -4px;
  top: -20px;
  position: absolute;
}

.pamelaivonneriveracontreras_span {
  color: black;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.pamela-ivonne-rivera-contreras {
  left: 85px;
  top: 182px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.minombreespamelaivonneriveracontrerasestudiantedelacarreradecienciasdelacomputacinmeconsiderounapersonaresponsableorganizadaycomprometidaconmisobjetivosposeohabilidadesenpythoncybasesdedatosademsdeungranintersenelanlisisdedatosysuaplicacinparalaresolucindeproblemasylatomadedecisiones_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.mi-nombre-es-pamela-ivonne-rivera-contreras-estudiante-de-la-carrera-de-ciencias-de-la-computacin-me-considero-una-persona-responsable-organizada-y-comprometida-con-mis-objetivos-poseo-habilidades-en-python-c-y-bases-de-datos-adems-de-un-gran-inters-en-el-anlisis-de-datos-y-su-aplicacin-para-la-resolucin-de-problemas-y-la-toma-de-decisiones {
  width: 283px;
  left: 28px;
  top: 238px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image-41 {
  width: 162px;
  height: 178px;
  top: -14px;
  position: absolute;
}

.rafaeltomaschuisanchez_span {
  color: black;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.rafael-tomas-chui-sanchez {
  left: 98px;
  top: 184px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.soyrafaeltomaschuisanchezysoyestudiantedelacarreradecienciasdelacomputacintengoconocimientosenlenguajescomocypython_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.soy-rafael-tomas-chui-sanchez-y-soy-estudiante-de-la-carrera-de-ciencias-de-la-computacin-tengo-conocimientos-en-lenguajes-como-c-y-python {
  width: 283px;
  left: 28px;
  top: 246px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image_03 {
  width: 172px;
  height: 150px;
  top: 0px;
  position: absolute;
}

.alessandroelashessepulache_span {
  color: black;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.alessandro-elas-hesse-pulache {
  left: 86px;
  top: 182px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.mellamoalessandroelashessepulacheymeencuentroenelsextociclodelacarreradecienciasdelacomputacinsoyunapersonacreativayresponsableyestoycomprometidoconmigrupoparadesarrollaresteproyectodemaneraapropiada_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.me-llamo-alessandro-elas-hesse-pulache-y-me-encuentro-en-el-sexto-ciclo-de-la-carrera-de-ciencias-de-la-computacin-soy-una-persona-creativa-y-responsable-y-estoy-comprometido-con-mi-grupo-para-desarrollar-este-proyecto-de-manera-apropiada {
  width: 283px;
  left: 28px;
  top: 242px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.frame-72 {
  width: 654px;
  height: 240px;
  left: 1019px;
  top: 693px;
  position: absolute;
  background: #DD2D4A;
  overflow: hidden;
  border-radius: 25px;
}

.frame-71 {
  width: 654px;
  height: 240px;
  left: 269px;
  top: 693px;
  position: absolute;
  background: #DD2D4A;
  overflow: hidden;
  border-radius: 25px;
}

.frame-427318922 {
  width: 1920px;
  height: 978px;
  left: 0px;
  top: 943px;
  position: absolute;
  overflow: hidden;
}

.frame-111 {
  width: 340px;
  height: 594px;
  left: 1334px;
  top: 2167px;
  position: absolute;
  background: #FEF1ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 25px;
}

.frame-115 {
  width: 150px;
  height: 150px;
  left: 95px;
  top: 19px;
  position: absolute;
  background: #DD2D4A;
  overflow: hidden;
  border-radius: 100px;
}

.frame-115_01 {
  width: 150px;
  height: 150px;
  left: 95px;
  top: 19px;
  position: absolute;
  background: #DD2D4A;
  overflow: hidden;
  border-radius: 100px;
}

.frame-115_02 {
  width: 150px;
  height: 150px;
  left: 95px;
  top: 20px;
  position: absolute;
  background: #DD2D4A;
  overflow: hidden;
  border-radius: 100px;
}

.frame-115_04 {
  width: 150px;
  height: 150px;
  left: 95px;
  top: 19px;
  position: absolute;
  background: #DD2D4A;
  overflow: hidden;
  border-radius: 100px;
}

.mision_vision {
  width: 1920px;
  height: 968px;
  left: 0px;
  top: 953px;
  position: absolute;
  background: white;
  overflow: hidden;
}

.planes-y-precios {
  width: 1920px;
  height: 905px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #FDE5DF;
  overflow: hidden;
}

.frame-112 {
  width: 340px;
  height: 579px;
  left: 301px;
  top: 2172px;
  position: absolute;
  background: #FEF1ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 25px;
}

.frame-116 {
  width: 340px;
  height: 579px;
  left: 825px;
  top: 2174px;
  position: absolute;
  background: #FEF1ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 25px;
}

.frame-114 {
  width: 340px;
  height: 510px;
  left: 1080px;
  top: 2877px;
  position: absolute;
  background: #FEF1ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 25px;
}

.frame-115_03 {
  width: 340px;
  height: 510px;
  left: 548px;
  top: 2877px;
  position: absolute;
  background: #FEF1ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 25px;
}

.body {
  width: 1920px;
  height: 3591px;
  position: relative;
  background: white;
  overflow: hidden;
}