<div class="frame-427318927">
  <div class="frame-427318920">
    <div class="ellipse-2"></div>
    <div class="ellipse-3"></div>
    <div class="vector-4"></div>
    <div class="conecta-tu-camino-comparte-tu-viaje"><span class="conectatucaminocompartetuviaje_span">Conecta tu camino, comparte tu viaje.</span></div>
    <div class="nete-a-uniride-y-descubre-una-forma-segura-econmica-y-colaborativa-de-ir-y-venir-de-la-universidad"><span class="neteaunirideydescubreunaformaseguraeconmicaycolaborativadeiryvenirdelauniversidad_span">Únete a UniRide y descubre una forma segura, económica y colaborativa de ir y venir de la universidad.</span></div>
    <div class="body_landing"></div>
    <img class="image-20" src="assets/imagen_landing.png" />
    <div class="rectangle-3387"></div>
    <div class="comienza-ahora"><span class="comienzaahora_span">Comienza ahora</span></div>
  </div>
  <div class="qu-es-uniride"><span class="quesuniride_span_01">¿Qué es </span><span class="quesuniride_span_02">UniRide</span><span class="quesuniride_span_03">?</span></div>
  <div class="uniride-es-una-plataforma-digital-de-movilidad-compartida-que-facilita-la-busqueda-de-transporte-para-movilizarse-a-su-sede-upc-o-de-regreso-a-su-hogar"><span class="unirideesunaplataformadigitaldemovilidadcompartidaquefacilitalabusquedadetransporteparamovilizarseasusedeupcoderegresoasuhogar_span">UniRide es una plataforma digital de movilidad compartida que facilita la busqueda de transporte para movilizarse a su sede UPC o de regreso a su hogar.</span></div>
  <div class="rectangle-15"></div>
  <div class="pasajeros"><span class="pasajeros_span">Pasajeros</span></div>
  <div class="encuentra-un-transporte-confiable-segn-tu-necesidad-cercana-o-presupuesto-elige-entre-rutas-disponibles-y-paga-de-forma-simple"><span class="encuentrauntransporteconfiablesegntunecesidadcercanaopresupuestoeligeentrerutasdisponiblesypagadeformasimple_span">Encuentra un transporte confiable según tu necesidad, cercanía o presupuesto. Elige entre rutas disponibles y paga de forma simple.</span></div>
  <div class="rectangle-15_01"></div>
  <div class="conductores"><span class="conductores_span">Conductores</span></div>
  <div class="publica-tus-rutas-realiza-viajes-y-recibe-pagos-desde-un-solo-lugar-conecta-fcilmente-con-otros-estudiantes-como-t"><span class="publicatusrutasrealizaviajesyrecibepagosdesdeunsololugarconectafcilmenteconotrosestudiantescomot_span">Publica tus rutas, realiza viajes,  y recibe pagos desde un solo lugar. Conecta fácilmente con otros estudiantes como tú.</span></div>
  <div class="testimonios"><span class="testimonios_span">Testimonios</span></div>
  <div class="rectangle-84"></div>
  <div class="rectangle-38"></div>
  <div class="mariana-lopez-pasajero"><span class="marianalopezpasajero_span_01">Mariana Lopez <br/></span><span class="marianalopezpasajero_span_02">Pasajero</span></div>
  <div class="gracias-a-uniride-encontr-una-plataforma-de-movilidad-que-realmente-me-entendi-ahora-llego-ms-cmoda-y-a-tiempo-a-la-universidad"><span class="graciasaunirideencontrunaplataformademovilidadquerealmentemeentendiahorallegomscmodayatiempoalauniversidad_span">Gracias a UniRide encontré una plataforma de movilidad que realmente me entendió. Ahora llego más cómoda y a tiempo a la universidad.</span></div>
  <div class="rectangle-84_01"></div>
  <div class="andrs-salazar-conductor"><span class="andrssalazarconductor_span_01">Andrés Salazar<br/></span><span class="andrssalazarconductor_span_02">Conductor</span></div>
  <div class="por-fin-trabajo-a-mi-manera-conectamente-me-ayuda-a-tener-control-de-mi-agenda-sin-perder-calidad-de-atencin"><span class="porfintrabajoamimaneraconectamentemeayudaatenercontroldemiagendasinperdercalidaddeatencin_span">Por fin trabajo a mi manera. ConectaMente me ayuda a tener control de mi agenda sin perder calidad de atención.</span></div>
  <img class="image-33" src="assets/image_33.png" />
  <div class="rectangle-84_02"></div>
  <div class="ana-torres-conductor"><span class="anatorresconductor_span_01">Ana Torres<br/></span><span class="anatorresconductor_span_02">Conductor</span></div>
  <div class="uniride-me-brind-un-entorno-para-compartir-mi-transporte-con-otros-estudiantes-que-necesitan-llegar-a-la-universidad"><span class="uniridemebrindunentornoparacompartirmitransporteconotrosestudiantesquenecesitanllegaralauniversidad_span">UniRide me brindó un entorno para compartir mi transporte con otros estudiantes que necesitan llegar a la universidad.</span></div>
  <img class="image-34" src="assets/image_34.png" />
  <div class="rectangle-84_03"></div>
  <div class="carlos-medina-conductor"><span class="carlosmedinaconductor_span_01">Carlos Medina <br/></span><span class="carlosmedinaconductor_span_02">Conductor</span></div>
  <div class="he-podido-ampliar-mi-red-de-conexiones-adems-ya-no-me-preocupo-demasiado-por-los-costos-del-combustible"><span class="hepodidoampliarmireddeconexionesademsyanomepreocupodemasiadoporloscostosdelcombustible_span">He podido ampliar mi red de conexiones. Además ya no me  preocupo demasiado por los costos del combustible..</span></div>
  <img class="image-19" src="assets/image_19.png" />
  <img class="rectangle-33" src="assets/rectangle_33.png" />
  <div class="funcionalidades_01">
    <div class="funcionalidades"><span class="funcionalidades_span">Funcionalidades</span></div>
    <div class="rectangle-14"></div>
    <div class="rectangle-15_02"></div>
    <div class="bsqueda-de-rutas"><span class="bsquedaderutas_span">Búsqueda de rutas</span></div>
    <div class="filtra-rutas-por-origen-destino-da-y-hora-para-encontrar-la-que-ms-te-convenga"><span class="filtrarutaspororigendestinodayhoraparaencontrarlaquemsteconvenga_span">Filtra rutas por origen, destino día y hora para encontrar la que más te convenga.</span></div>
    <div class="rectangle-16"></div>
    <div class="solicitar-ruta"><span class="solicitarruta_span">Solicitar ruta</span></div>
    <div class="solicita-unirte-a-una-ruta-para-facilitar-tu-transporte-de-vuelta-a-casa-o-hacia-la-universidad"><span class="solicitaunirteaunarutaparafacilitartutransportedevueltaacasaohacialauniversidad_span">Solicita unirte a una ruta para facilitar tu transporte de vuelta a casa o hacia la universidad.</span></div>
    <div class="male-user"></div>
    <div class="rectangle-18"></div>
    <div class="pagos-seguros"><span class="pagosseguros_span">Pagos seguros</span></div>
    <div class="realiza-pagos-de-manera-sencilla-y-segura-con-opciones-claras-y-rpidas"><span class="realizapagosdemanerasencillayseguraconopcionesclarasyrpidas_span">Realiza pagos de manera sencilla y segura, con opciones claras y rápidas.</span></div>
    <div class="rectangle-19"></div>
    <div class="historial-de-viajes"><span class="historialdeviajes_span">Historial de viajes</span></div>
    <div class="accede-al-registro-completo-de-tus-viajes-y-pagos-para-tener-todo-bajo-control"><span class="accedealregistrocompletodetusviajesypagosparatenertodobajocontrol_span">Accede al registro completo de tus viajes y pagos para tener todo bajo control.</span></div>
    <div class="rectangle-17"></div>
    <div class="calificaciones-y-reseas"><span class="calificacionesyreseas_span">Calificaciones y reseñas</span></div>
    <div class="lee-y-deja-reseas-de-tus-viajes-para-compartir-tu-experiencia-y-ayudar-a-otros-usuarios"><span class="leeydejareseasdetusviajesparacompartirtuexperienciayayudaraotrosusuarios_span">Lee y deja reseñas de tus viajes para compartir tu experiencia y ayudar a otros usuarios.</span></div>
    <img class="like" src="assets/like.png" />
    <div class="perfiles-personalizados"><span class="perfilespersonalizados_span">Perfiles personalizados</span></div>
    <div class="crea-un-perfil-nico-para-mostrar-tu-experiencia-y-necesidades-adaptado-a-tus-preferencias"><span class="creaunperfilnicoparamostrartuexperienciaynecesidadesadaptadoatuspreferencias_span">Crea un perfil único para mostrar tu experiencia y necesidades, adaptado a tus preferencias.</span></div>
    <div class="frame-427318924"></div>
    <div class="frame-427318932">
      <img class="user" src="assets/user.png" />
    </div>
    <img class="search" src="assets/search.png" />
    <img class="calendar" src="assets/calendar.png" />
    <img class="money" src="assets/money.png" />
    <img class="history" src="assets/history.png" />
  </div>
  <div class="servicio">
    <div class="frame-427318925">
      <div class="text_servicio"><span class="text_servicio_span">¿Eres un estudiante que conduce y te gustaría ofrecer tu movilidad en nuestra plataforma? </span></div>
      <img class="img_servicio" src="assets/img_servicio.png" />
      <div data-property-1="Default" class="btn_trabaja">
        <div class="trabaja-con-nosotros"><span class="trabajaconnosotros_span">Trabaja con nosotros</span></div>
      </div>
    </div>
  </div>
  <div class="frame-427318930">
    <img class="users" src="assets/users.png" />
  </div>
  <div class="frame-427318931">
    <img class="users_01" src="assets/users.png" />
  </div>
</div>