<div class="landing_header">
  <div class="frame-427318918"></div>
  <!-- INICIO -->
  <div class="inicio" routerLink="/home/landing" style="cursor: pointer;">
    <span class="inicio_span">Inicio</span>
</div>
<!-- SERVICIOS -->
  <div class="servicios" routerLink="/home/servicios" style="cursor: pointer;">
    <span class="servicios_span">Servicios</span>
</div>
<!-- NOSOTROS -->
  <div class="nosotros" routerLink="/home/nosotros" style="cursor: pointer;">
    <span class="nosotros_span">Nosotros</span>
</div>
<!-- LOGIN -->
  <div class="login_button" style="cursor: pointer;">
    <div class="login">
        <span class="login_span">Login</span></div>
  </div>
<!-- SIGN UP -->
  <div class="signup_button">
    <div class="sign-up"><span class="signup_span">Sign Up</span></div>
  </div>
  <div class="rectangle-3348"></div>
  <div class="frame-427318926"></div>
  <div class="uniride"><span class="uniride_span">UniRide</span></div>
  <div class="frame-427318933"></div>
  <img class="image-39" src="assets/logo.png" />
</div>