<div class="landing_header">

  <!-- LOGO -->
  <div class="left">
    <img class="image-39" src="assets/logo.png" />
    <div class="uniride">
      <span class="uniride_span">UniRide</span>
    </div>
  </div>

  <!-- NAV -->
  <nav class="nav_links">
    <div class="inicio">
      <a routerLink="/home/landing" class="inicio_span">Inicio</a>
    </div>

    <div class="servicios">
      <a routerLink="/home/servicios" class="servicios_span">Servicios</a>
    </div>

    <div class="nosotros">
      <a routerLink="/home/nosotros" class="nosotros_span">Nosotros</a>
    </div>
  </nav>

  <!-- LOGIN / SIGNUP -->
  <div class="buttons">

    <div class="login_button"
         role="button"
         tabindex="0"
         routerLink="/auth/login">
      <span class="login_span">Login</span>
    </div>

    <div class="signup_button"
         role="button"
         tabindex="0"
         routerLink="/auth/register">
      <span class="signup_span">Sign Up</span>
    </div>

  </div>

</div>
