<div class="landing_header">
  <div class="left">
    <img class="image-39" src="assets/logo.png" />
    <div class="uniride">
      <span class="uniride_span">UniRide</span>
    </div>
  </div>

  <nav class="nav_links">
    <div class="inicio" routerLink="/home/landing"><span class="inicio_span">Inicio</span></div>
    <div class="servicios" routerLink="/home/servicios"><span class="servicios_span">Servicios</span></div>
    <div class="nosotros" routerLink="/home/nosotros"><span class="nosotros_span">Nosotros</span></div>
  </nav>

  <div class="buttons">
    <div class="login_button"><span class="login_span">Login</span></div>
    <div class="signup_button"><span class="signup_span">Sign Up</span></div>
  </div>
</div>
