<nav class="navbar-user">
  <div class="landing_header">

    <!-- LOGO -->
    <img class="logo-img" src="assets/logo.png" alt="Logo" />
    <h1 class="logo-text">UniRide</h1>

    <!-- ICONOS SUPERIOR DERECHA (mismos para ambos roles, pero con link dinámico) -->
    <div class="navbar-actions">
      <button class="icon-btn" [routerLink]="perfilLink">
        <img src="assets/sidebar/user.png" alt="Perfil">
      </button>

      <button class="icon-btn" [routerLink]="configLink">
        <img src="assets/sidebar/Engranaje.png" alt="Configuración">
      </button>
    </div>

  </div>
</nav>
