<div class="busqueda-rutas">
      <div class="mi-cuenta-contenido">
        <div class="frame">
          <img class="rectangle" src="img/image.svg" />
          <img class="group" src="img/group-475-4.png" />
          <div class="text-wrapper">Hoy</div>
          <div class="btn-trabaja"><div class="div">Solicitar unirse</div></div>
          <div class="text-wrapper-2">María</div>
          <p class="av-angamos-este">
            <span class="span">Av. Angamos Este 1234</span>
            <span class="text-wrapper-3"> → </span>
            <span class="span">UPC Monterrico</span>
          </p>
          <div class="text-wrapper-4">Hora de salida: 05:50</div>
          <div class="text-wrapper-5">Capacidad: 2 personas</div>
          <img class="img" src="img/group-504-2.png" />
          <div class="text-wrapper-6">s/. 12,00</div>
        </div>
        <div class="frame-2">
          <img class="rectangle" src="img/rectangle-187.svg" />
          <img class="group" src="img/group-475-3.png" />
          <div class="text-wrapper">Hoy</div>
          <div class="btn-trabaja"><div class="div">Solicitar unirse</div></div>
          <div class="text-wrapper-2">María</div>
          <p class="av-angamos-este">
            <span class="span">Av. Angamos Este 2310</span>
            <span class="text-wrapper-3"> → </span>
            <span class="span">UPC Monterrico</span>
          </p>
          <div class="text-wrapper-4">Hora de salida: 05:50</div>
          <div class="text-wrapper-5">Capacidad: 2 personas</div>
          <img class="img" src="img/group-504.png" />
          <div class="text-wrapper-6">s/. 12,00</div>
        </div>
        <div class="frame-3">
          <img class="rectangle" src="img/rectangle-187-2.svg" />
          <img class="group-2" src="img/group-475-2.png" />
          <div class="text-wrapper">Hoy</div>
          <div class="btn-trabaja"><div class="div">Solicitar unirse</div></div>
          <div class="text-wrapper-6">s/. 9, 50</div>
          <div class="text-wrapper-7">Juan Vázquez</div>
          <p class="av-angamos-este">
            <span class="span">Av. Angamos Este 2102</span>
            <span class="text-wrapper-3"> → </span>
            <span class="span">UPC Monterrico</span>
          </p>
          <div class="text-wrapper-4">Hora de salida: 05:30</div>
          <div class="text-wrapper-5">Capacidad: 4 personas</div>
          <img class="img" src="img/group-504-3.png" />
        </div>
        <div class="frame-4">
          <img class="rectangle" src="img/rectangle-187-3.svg" />
          <img class="group" src="img/group-475.png" />
          <div class="text-wrapper">Hoy</div>
          <div class="btn-trabaja"><div class="div">Solicitar unirse</div></div>
          <div class="text-wrapper-8">s/. 14, 00</div>
          <div class="text-wrapper-2">José</div>
          <p class="av-angamos-este">
            <span class="span">Av. Angamos Este 604</span>
            <span class="text-wrapper-3"> → </span>
            <span class="span">UPC Monterrico</span>
          </p>
          <div class="text-wrapper-4">Hora de salida: 05:50</div>
          <div class="text-wrapper-5">Capacidad: 4 personas</div>
          <img class="img" src="img/group-504-4.png" />
        </div>
        <div class="text-wrapper-9">Inicio</div>
        <div class="text-wrapper-10">&gt;</div>
        <div class="text-wrapper-11">Búsqueda de rutas</div>
        <div class="landing-header">
          <div class="rectangle-2"></div>
          <div class="frame-5"></div>
          <div class="text-wrapper-12">UniRide</div>
          <img class="image" src="img/image-39.png" />
        </div>
      </div>
      <div class="frame-6">
        <img class="rectangle-3" src="img/rectangle-186.svg" />
        <div class="text-wrapper-13">Filtros</div>
        <div class="text-wrapper-14">Quitar</div>
        <div class="group-3">
          <img class="line" src="img/line-44.svg" />
          <div class="text-wrapper-15">Origen</div>
          <div class="text-wrapper-16">Destino</div>
          <div class="text-wrapper-17">Día de salida</div>
          <div class="text-wrapper-18">Hoy</div>
          <div class="text-wrapper-19">Mañana</div>
          <div class="text-wrapper-20">Hora de salida</div>
        </div>
        <img class="circle-point" src="img/circle-point-4.png" />
        <div class="text-wrapper-21">2 días a más</div>
        <img class="circle-point-2" src="img/image.png" />
        <img class="circle-point-checked" src="img/circle-point-checked.png" />
        <div class="text-wrapper-22">Antes de las 06:00</div>
        <div class="text-wrapper-23">06:00 - 09:00</div>
        <img class="circle-point-3" src="img/circle-point-5.png" />
        <div class="text-wrapper-24">09:00 - 12:00</div>
        <img class="circle-point-4" src="img/circle-point-3.png" />
        <div class="text-wrapper-25">12:00 - 15:00</div>
        <img class="circle-point-5" src="img/circle-point.png" />
        <img class="circle-point-checked-2" src="img/circle-point-checked-2.png" />
        <div class="frame-variant"><div class="text-wrapper-26">Av. Angamos Este</div></div>
        <div class="div-wrapper"><div class="text-wrapper-27">UPC Monterrico</div></div>
        <div class="text-wrapper-28">15:00 - 18:00</div>
        <img class="circle-point-6" src="img/circle-point-2.png" />
      </div>
    </div>