
.solicitarunirse_span {
  color: white;
  font-size: 16.17px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.solicitar-unirse {
  width: 124.95px;
  height: 24.99px;
  left: 23.52px;
  top: 5.88px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}




.s1200_span {
  color: black;
  font-size: 26.46px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}

.s-1200 {
  width: 123.48px;
  height: 33.08px;
  left: 648.27px;
  top: 41.89px;
  position: absolute;
}



.star_05 {
  width: 19.50px;
  height: 30.69px;
  left: 172.26px;
  top: 124.95px;
  position: absolute;
}

.star_06 {
  width: 19.50px;
  height: 30.69px;
  left: 194.58px;
  top: 124.95px;
  position: absolute;
}

.star_07 {
  width: 19.50px;
  height: 30.69px;
  left: 216.90px;
  top: 124.95px;
  position: absolute;
}

.star_08 {
  width: 19.50px;
  height: 30.69px;
  left: 239.22px;
  top: 124.95px;
  position: absolute;
}

.star_09 {
  width: 19.50px;
  height: 30.69px;
  left: 149.94px;
  top: 124.95px;
  position: absolute;
}

.hoy_01_span {
  color: black;
  font-size: 17.64px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}


.solicitarunirse_01_span {
  color: white;
  font-size: 16.17px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.solicitar-unirse_01 {
  width: 124.95px;
  height: 24.99px;
  left: 23.52px;
  top: 5.88px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.mara_01_span {
  color: black;
  font-size: 14.70px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}
.rectangle1 {
  width: 796.74px;
  height: 144.79px;
  left: 0px;
  top: 35px;
  position: relative;
  background: #F3F3F3;
  border-radius: 29.40px;
}

.hoy_01 {
  width: 38.95px;
  height: 26.46px;
  left: 0px;
  top: -140px;
  position: relative;

}

.conductor-text1 {
  width: 92.61px;
  height: 22.05px;
  left: 70px;
  top: -70px;
  position: relative;
}
.destino-text-1 {
  color: black;
  font-size: 17.64px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  
}

.origen-text-1 {
  width: 497.60px;
  height: 22.05px;
  left: 20px;
  top: -180px;
  position: relative;
}
.hora-salida1 {
  width: 497.60px;
  height: 22.05px;
  left: 20px;
  top: -170px;
  position: relative;
}

.capacidad-text1 {
  width: 213.88px;
  height: 22.05px;
  left: 400px;
  top: -140px;
  position: relative;
}

.btn_solicitar {
  width: 171.99px;
  height: 36.75px;
  left: 600px;
  top: -50px;
  position: relative;

}


.precio-text-1 {
  width: 123.48px;
  height: 33.08px;
  font-size: 26.46px;
  left: 645px;
  top: -240px;
  position: relative;
}

.ruta-list-box{
  width: 830px;
  height: 800px;
  left: 550px;
  top: 170px;
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  position: absolute;
  overflow-y: scroll
}

.ruta-box1 {
  margin: auto;
  margin-bottom: -140px;
  padding-bottom: -100px;
  overflow: hidden;
}




.image-36_01 {
  width: 117.75px;
  height: 58.68px;
  left: -34.48px;
  top: 121.05px;
  position: absolute;
}


.solicitarunirse_02_span {
  color: white;
  font-size: 16.17px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.solicitar-unirse_02 {
  width: 124.95px;
  height: 24.99px;
  left: 23.52px;
  top: 5.88px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.s950_span {
  color: black;
  font-size: 26.46px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}

.s-9-50 {
  width: 123.48px;
  height: 33.08px;
  left: 648.27px;
  top: 41.89px;
  position: absolute;
}

.s1400_span {
  color: black;
  font-size: 26.46px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}

.s-14-00 {
  width: 126.42px;
  height: 33.08px;
  left: 652.68px;
  top: 41.89px;
  position: absolute;
}

.jos_span {
  color: black;
  font-size: 14.70px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.jos {
  width: 92.61px;
  height: 22.05px;
  left: 77.91px;
  top: 129.36px;
  position: absolute;
}




.frame-427318923 {
  width: 73.50px;
  height: 73.50px;
  left: 1261.99px;
  top: 574.04px;
  position: absolute;
}

.inicio_span {
  color: #2635D6;
  font-size: 17.64px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.inicio {
  width: 48.51px;
  height: 26.46px;
  left: 224.17px;
  top: 113.19px;
  position: absolute;
}

.fspan {
  color: black;
  font-size: 17.64px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.text- {
  width: 8.82px;
  height: 26.46px;
  left: 282.24px;
  top: 113.19px;
  position: absolute;
}

.bsquedaderutas_span {
  color: black;
  font-size: 17.64px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.bsqueda-de-rutas {
  width: 214.62px;
  height: 26.46px;
  left: 302.82px;
  top: 113.19px;
  position: absolute;
}

.rectangle-186 {
  width: 301.35px;
  height: 665.17px;
  left: 1.47px;
  top: 0px;
  position: absolute;
  background: #F3F3F3;
  border-radius: 29.40px;
}

.filtros_span {
  color: black;
  font-size: 26.46px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}

.filtros {
  width: 269.74px;
  height: 52.92px;
  left: 23.52px;
  top: 12.50px;
  position: absolute;
}

.quitar_span {
  color: #2635D6;
  font-size: 17.64px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.quitar {
  width: 60.27px;
  height: 26.46px;
  left: 223.44px;
  top: 22.79px;
  position: absolute;
}

.origen_span {
  color: black;
  font-size: 17.64px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.origen {
  width: 170.52px;
  height: 26.46px;
  left: 23.52px;
  top: 91.14px;
  position: absolute;
}

.destino_span {
  color: black;
  font-size: 17.64px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.destino {
  width: 170.52px;
  height: 26.46px;
  left: 23.52px;
  top: 167.58px;
  position: absolute;
}

.dadesalida_span {
  color: black;
  font-size: 17.64px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.da-de-salida {
  width: 170.52px;
  height: 26.46px;
  left: 23.52px;
  top: 255.04px;
  position: absolute;
}

.hoy_04_span {
  color: black;
  font-size: 14.70px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.hoy_04 {
  width: 170.52px;
  height: 21.31px;
  left: 65.41px;
  top: 294.73px;
  position: absolute;
}

.maana_span {
  color: black;
  font-size: 14.70px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.maana {
  width: 170.52px;
  height: 22.05px;
  left: 65.41px;
  top: 332.22px;
  position: absolute;
}

.horadesalida_span {
  color: black;
  font-size: 17.64px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.hora-de-salida {
  width: 170.52px;
  height: 26.46px;
  left: 23.52px;
  top: 421.15px;
  position: absolute;
}

.line-44 {
  width: 254.31px;
  height: 0px;
  left: 23.52px;
  top: 65.42px;
  position: absolute;
  outline: 0.73px rgba(0, 0, 0, 0.50) solid;
  outline-offset: -0.37px;
}

.circle-point {
  width: 26.46px;
  height: 26.46px;
  left: 23.52px;
  top: 330.02px;
  position: absolute;
}

.fdasams_span {
  color: black;
  font-size: 14.70px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.text-2-das-a-ms {
  width: 170.52px;
  height: 22.05px;
  left: 65.41px;
  top: 373.38px;
  position: absolute;
}

.circle-point_01 {
  width: 26.46px;
  height: 26.46px;
  left: 23.52px;
  top: 371.18px;
  position: absolute;
}

.circle-point-checked {
  width: 26.46px;
  height: 26.46px;
  left: 23.52px;
  top: 292.53px;
  position: absolute;
}

.antesdelas0600_span {
  color: black;
  font-size: 14.70px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.antes-de-las-0600 {
  width: 170.52px;
  height: 21.31px;
  left: 65.41px;
  top: 460.11px;
  position: absolute;
}

.f600-0900_span {
  color: black;
  font-size: 14.70px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.text-0600---0900 {
  width: 170.52px;
  height: 22.05px;
  left: 65.41px;
  top: 501.27px;
  position: absolute;
}

.circle-point_02 {
  width: 26.46px;
  height: 26.46px;
  left: 23.52px;
  top: 499.06px;
  position: absolute;
}

.f900-1200_span {
  color: black;
  font-size: 14.70px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.text-0900---1200 {
  width: 170.52px;
  height: 22.05px;
  left: 65.41px;
  top: 542.43px;
  position: absolute;
}

.circle-point_03 {
  width: 26.46px;
  height: 26.46px;
  left: 23.52px;
  top: 540.23px;
  position: absolute;
}

.f200-1500_span {
  color: black;
  font-size: 14.70px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.text-1200---1500 {
  width: 170.52px;
  height: 22.05px;
  left: 65.41px;
  top: 583.59px;
  position: absolute;
}

.circle-point_04 {
  width: 26.46px;
  height: 26.46px;
  left: 23.52px;
  top: 581.38px;
  position: absolute;
}

.circle-point-checked_01 {
  width: 26.46px;
  height: 26.46px;
  left: 23.52px;
  top: 457.90px;
  position: absolute;
}

.avangamoseste_span {
  color: black;
  font-size: 11.02px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.av-angamos-este {
  left: 16.90px;
  top: 8.09px;
  position: absolute;
}

.upcmonterrico_span {
  color: black;
  font-size: 11.02px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.upc-monterrico {
  left: 16.90px;
  top: 8.08px;
  position: absolute;
}

.f500-1800_span {
  color: black;
  font-size: 14.70px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.text-1500---1800 {
  width: 170.52px;
  height: 22.05px;
  left: 65.41px;
  top: 624.02px;
  position: absolute;
}

.circle-point_05 {
  width: 26.46px;
  height: 26.46px;
  left: 23.52px;
  top: 621.81px;
  position: absolute;
}

.btn_trabaja {
  width: 171.99px;
  height: 36.75px;
  left: 599.76px;
  top: 122.01px;
  position: absolute;
  background: #880D1E;
  box-shadow: 0px 2.93999981880188px 2.93999981880188px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 26.46px;
}



.btn_trabaja_02 {
  width: 171.99px;
  height: 36.75px;
  left: 599.76px;
  top: 122.01px;
  position: absolute;
  background: #880D1E;
  box-shadow: 0px 2.93999981880188px 2.93999981880188px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 26.46px;
}

.btn_trabaja_03 {
  width: 171.99px;
  height: 36.75px;
  left: 599.76px;
  top: 122.01px;
  position: absolute;
  background: #880D1E;
  box-shadow: 0px 2.93999981880188px 2.93999981880188px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 26.46px;
}

.frame-61variant3 {
  width: 265.33px;
  height: 33.08px;
  left: 23.52px;
  top: 122.01px;
  position: absolute;
  overflow: hidden;
  border-radius: 29.40px;
  outline: 0.73px #6BC8C9 solid;
  outline-offset: -0.73px;
}

.frame-61variant3_01 {
  width: 265.33px;
  height: 33.08px;
  left: 23.52px;
  top: 196.25px;
  position: absolute;
  overflow: hidden;
  border-radius: 29.40px;
  outline: 0.73px #6BC8C9 solid;
  outline-offset: -0.73px;
}

.frame-125 {
  width: 797.47px;
  height: 182.28px;
  left: 550.52px;
  top: 169.79px;
  position: absolute;
  overflow: hidden;
}

.frame-427318924 {
  width: 797.47px;
  height: 182.28px;
  left: 550.52px;
  top: 371.91px;
  position: absolute;
  overflow: hidden;
}

.frame-427318925 {
  width: 797.47px;
  height: 182.28px;
  left: 550.52px;
  top: 574.04px;
  position: absolute;
  overflow: hidden;
}

.filtros_01 {
  width: 330.01px;
  height: 665.17px;
  left: 222.37px;
  top: 66.27px;
  position: absolute;
  overflow: hidden;
}

.mi_cuenta_contenido {
  width: 1411.20px;
  height: 1031.20px;
  left: 0.40px;
  top: -99.10px;
  position: absolute;
  overflow: hidden;
}

.frame-427318940 {
  width: 1412px;
  height: 932px;
  position: relative;
  background: white;
  overflow: hidden;
}

.filtro-text-destino{
  padding: 2vh;
  text-align: left;
  margin-top: 0.5vh;
  color: gray;
  border-radius: 2vh;
  width: 35vh;
  height: 4vh;
}

.filtro-text-origen{
  padding: 2vh;
  text-align: left;
  margin-top: 0.5vh;
  color: gray;
  border-radius: 2vh;
  width: 35vh;
  height: 4vh;
}

.solicitarunirse_01{

  padding-top: 0.5vh;
  width: 171.99px;
  height: 36.75px;
  color: white;
  background-color:#880D1E;


  box-shadow: 0px 2.93999981880188px 2.93999981880188px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 26.46px;
}

.solicitarunirse_01:hover{
  background-color:#620713;
}