<footer class="footer-component">
  <div class="footer">
    <!-- Fondo -->
    <div class="rectangle-80"></div>

    <!-- Redes sociales -->
    <div class="footer-social">
      <img class="facebook" src="assets/Facebook.png" alt="Facebook" />
      <img class="youtube" src="assets/YouTube.png" alt="YouTube" />
      <img class="instagram" src="assets/Instagram.png" alt="Instagram" />
    </div>

     <!-- Contacto -->
    <div class="footer-contact">
      <span class="contctanos_span">Contáctanos</span>
      <div class="frame-70">
        <div class="mail">
          <div class="vector"></div>
          <div class="vector_01"></div>
        </div>
        <div class="infoconectamentepe">
          <span class="infoconectamentepe_span">info@uniride.pe</span>
        </div>
      </div>
    </div>

    <!-- Información y enlaces -->
    <div class="footer-links">
      <span class="careers_01_span">Careers</span>
      <span class="privacypolicy_01_span">Privacy Policy</span>
      <span class="termsconditions_01_span">Terms & Conditions</span>
    </div>

   

    <!-- Copyright -->
    <div class="footer-copy">
      <span class="f025classtechnologiesinc_span">© 2025 Class Technologies Inc.</span>
    </div>
  </div>
</footer>
