
.f021classtechnologiesinc_span {
  color: #B2B3CF;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 0.88px;
  word-wrap: break-word;
}

.text--2021-class-technologies-inc {
  width: 357.44px;
  height: 66.73px;
  left: 782.77px;
  top: 500.46px;
  position: absolute;
  text-align: center;
}

.subscribetogetournewsletter_span {
  color: white;
  font-size: 26px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 1.04px;
  word-wrap: break-word;
}

.subscribe-to-get-our-newsletter {
  width: 439.31px;
  height: 78.86px;
  left: 741.84px;
  top: 229.51px;
  position: absolute;
  text-align: center;
}

.skilline_span {
  color: white;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  letter-spacing: 1.28px;
  word-wrap: break-word;
}

.skilline {
  width: 127.80px;
  height: 97.06px;
  left: 789.76px;
  top: 66.73px;
  position: absolute;
}

.line-10 {
  width: 83.92px;
  height: 0px;
  left: 958.50px;
  top: 49.54px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  outline: 1px #626381 solid;
  outline-offset: -0.50px;
}

.virtualclassforzoom_span {
  color: white;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 0.88px;
  word-wrap: break-word;
}

.virtual-class-for-zoom {
  width: 155.76px;
  height: 100.09px;
  left: 999.43px;
  top: 58.64px;
  position: absolute;
}

.line-11 {
  width: 17.19px;
  height: 0px;
  left: 792.77px;
  top: 454.97px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  outline: 1px #626381 solid;
  outline-offset: -0.50px;
}

.line-12 {
  width: 17.19px;
  height: 0px;
  left: 993.45px;
  top: 454.97px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  outline: 1px #626381 solid;
  outline-offset: -0.50px;
}

.careers_span {
  color: #B2B3CF;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 0.88px;
  word-wrap: break-word;
}

.careers {
  width: 92.85px;
  height: 66.73px;
  left: 679.94px;
  top: 446.88px;
  position: absolute;
  text-align: center;
}

.privacypolicy_span {
  color: #B2B3CF;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 0.88px;
  word-wrap: break-word;
}

.privacy-policy {
  width: 160.75px;
  height: 66.73px;
  left: 812.73px;
  top: 446.88px;
  position: absolute;
  text-align: center;
}

.termsconditions_span {
  color: #B2B3CF;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 0.88px;
  word-wrap: break-word;
}

.terms-conditions {
  width: 229.64px;
  height: 66.73px;
  left: 1013.41px;
  top: 446.88px;
  position: absolute;
  text-align: center;
}

.rectangle-80 {
  width: 1917px;
  height: 599.55px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #880D1E;
}

.f025classtechnologiesinc_span {
  color: white;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.text--2025-class-technologies-inc {
  width: 368.42px;
  height: 72.79px;
  left: 777.79px;
  top: 511.59px;
  position: absolute;
  text-align: center;
}

.line-11_01 {
  width: 17.19px;
  height: 0px;
  left: 796.82px;
  top: 447.11px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  background: white;
  outline: 1px #626381 solid;
  outline-offset: -0.50px;
}

.line-12_01 {
  width: 17.19px;
  height: 0px;
  left: 997.51px;
  top: 447.11px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  background: white;
  outline: 1px #626381 solid;
  outline-offset: -0.50px;
}

.careers_01_span {
  color: white;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.careers_01 {
  width: 112px;
  height: 72.97px;
  left: 666px;
  top: 439.02px;
  position: absolute;
  text-align: center;
}

.privacypolicy_01_span {
  color: white;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.privacy-policy_01 {
  width: 162.75px;
  height: 72.79px;
  left: 815.79px;
  top: 439.02px;
  position: absolute;
  text-align: center;
}

.termsconditions_01_span {
  color: white;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.terms-conditions_01 {
  width: 264px;
  height: 72.97px;
  left: 1015px;
  top: 439.02px;
  position: absolute;
  text-align: center;
}

.facebook {
  width: 77.02px;
  height: 56px;
  left: 808px;
  top: 229.55px;
  position: absolute;
}

.youtube {
  width: 77.02px;
  height: 56px;
  left: 908.99px;
  top: 229.55px;
  position: absolute;
}

.instagram {
  width: 77.02px;
  height: 56px;
  left: 1009.98px;
  top: 229.55px;
  position: absolute;
}

.contctanos_span {
  color: #DFDCDC;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.contctanos {
  left: 884px;
  top: 328.55px;
  position: absolute;
  text-align: center;
}

.vector {
  width: 25px;
  height: 20px;
  left: 2.50px;
  top: 5px;
  position: absolute;
  outline: 2px #DFDCDC solid;
  outline-offset: -1px;
}

.vector_01 {
  width: 25px;
  height: 8.75px;
  left: 2.50px;
  top: 7.50px;
  position: absolute;
  outline: 2px #DFDCDC solid;
  outline-offset: -1px;
}

.infoconectamentepe_span {
  color: #DFDCDC;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.infoconectamentepe {
  width: 244px;
}

.mail {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.frame-70 {
  left: 808px;
  top: 377.55px;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  display: inline-flex;
}

.footer {
  width: 1917px;
  height: 599.55px;
  position: relative;
}