<footer class="footer-component">
<div class="footer">
  <div class="text--2021-class-technologies-inc"><span class="f021classtechnologiesinc_span">© 2021 Class Technologies Inc. </span></div>
  <div class="subscribe-to-get-our-newsletter"><span class="subscribetogetournewsletter_span">Subscribe to get our Newsletter</span></div>
  <div class="skilline"><span class="skilline_span">Skilline</span></div>
  <div class="line-10"></div>
  <div class="virtual-class-for-zoom"><span class="virtualclassforzoom_span">Virtual Class for Zoom</span></div>
  <div class="line-11"></div>
  <div class="line-12"></div>
  <div class="careers"><span class="careers_span">Careers</span></div>
  <div class="privacy-policy"><span class="privacypolicy_span">Privacy Policy</span></div>
  <div class="terms-conditions"><span class="termsconditions_span">Terms & Conditions</span></div>
  <div class="rectangle-80"></div>
  <div class="text--2025-class-technologies-inc"><span class="f025classtechnologiesinc_span">© 2025 Class Technologies Inc. </span></div>
  <div class="line-11_01"></div>
  <div class="line-12_01"></div>
  <div class="careers_01"><span class="careers_01_span">Careers</span></div>
  <div class="privacy-policy_01"><span class="privacypolicy_01_span">Privacy Policy</span></div>
  <div class="terms-conditions_01"><span class="termsconditions_01_span">Terms & Conditions</span></div>
  <img class="facebook" src="assets/Facebook.png" />
  <img class="youtube" src="assets/YouTube.png" />
  <img class="instagram" src="assets/Instagram.png" />
  <div class="contctanos"><span class="contctanos_span">Contáctanos</span></div>
  <div class="frame-70">
    <div class="mail">
      <div class="vector"></div>
      <div class="vector_01"></div>
    </div>
    <div class="infoconectamentepe"><span class="infoconectamentepe_span">info@conectamente.pe</span></div>
  </div>
</div>
</footer>