<div class="register-container">
  <div class="card">

    <!-- Logo -->
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
      <h1>UniRide</h1>
    </div>

    <!-- Steps -->
    <div class="steps">

      <div class="step">
        <div class="circle active"></div>
        <span class="label">Datos</span>
      </div>

      <div class="line"></div>

      <div class="step">
        <div class="circle"></div>
        <span class="label">Cuenta</span>
      </div>

      <div class="line"></div>

      <div class="step">
        <div class="circle"></div>
        <span class="label">Vehículo</span>
      </div>

    </div>

    <h2>Registro de Conductor</h2>

    <form [formGroup]="driverForm">

      <!-- Nombres -->
      <label>Nombres</label>
      <input type="text" placeholder="Empty label" formControlName="nombres">
      <p class="error" *ngIf="driverForm.get('nombres')?.touched && driverForm.get('nombres')?.invalid">
        * Ingresa al menos 3 caracteres.
      </p>

      <!-- Apellidos -->
      <label>Apellidos</label>
      <input type="text" placeholder="Empty label" formControlName="apellidos">
      <p class="error" *ngIf="driverForm.get('apellidos')?.touched && driverForm.get('apellidos')?.invalid">
        * Ingresa al menos 3 caracteres.
      </p>

      <!-- Edad -->
      <label>Edad</label>
      <input type="number" placeholder="Ingresa tu edad" formControlName="edad">
      <p class="error" *ngIf="driverForm.get('edad')?.touched && driverForm.get('edad')?.invalid">
        * Ingresa una edad válida (18 - 80).
      </p>

      <!-- DNI -->
      <label>DNI</label>
      <input type="text" placeholder="Empty label" formControlName="dni">
      <p class="error" *ngIf="driverForm.get('dni')?.touched && driverForm.get('dni')?.invalid">
        * El DNI debe tener 8 dígitos.
      </p>

      <button type="button"
              (click)="goToNext()"
              [disabled]="driverForm.invalid">
        Continuar
      </button>
    </form>

    <hr/>

    <p>
      ¿Ya tienes una cuenta?
      <a routerLink="/auth/login">Accede a tu cuenta</a>
    </p>
  </div>
</div>
