<div class="register-container">
  <div class="card">

    <!-- Logo -->
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
      <h1>UniRide</h1>
    </div>

    <!-- Steps -->
    <div class="steps">

      <div class="step">
        <div class="circle"></div>
        <span class="label">Datos</span>
      </div>

      <div class="line"></div>

      <div class="step">
        <div class="circle"></div>
        <span class="label">Cuenta</span>
      </div>

      <div class="line"></div>

      <div class="step">
        <div class="circle active"></div>
        <span class="label">Vehículo</span>
      </div>

    </div>

    <h2>Datos del Vehículo</h2>

    <form [formGroup]="vehicleForm">

      <!-- Matrícula -->
      <label>Placa</label>
      <input type="text" placeholder="Ingrese su placa" formControlName="placa">
      <div class="error"
           *ngIf="vehicleForm.get('placa')?.touched && vehicleForm.get('placa')?.invalid">
        <small *ngIf="vehicleForm.get('placa')?.errors?.['required']">* Este campo es obligatorio.</small>
      </div>

      <!-- Marca -->
      <label>Marca</label>
      <input type="text" placeholder="Ingrese la marca del vehiculo" formControlName="marca">
      <div class="error"
           *ngIf="vehicleForm.get('marca')?.touched && vehicleForm.get('marca')?.invalid">
        <small *ngIf="vehicleForm.get('marca')?.errors?.['required']">* Este campo es obligatorio.</small>
      </div>

      <!-- Modelo -->
      <label>Modelo</label>
      <input type="text" placeholder="Ingrese el modelo del vehiculo" formControlName="modelo">
      <div class="error"
           *ngIf="vehicleForm.get('modelo')?.touched && vehicleForm.get('modelo')?.invalid">
        <small *ngIf="vehicleForm.get('modelo')?.errors?.['required']">* Este campo es obligatorio.</small>
      </div>

      <!-- Capacidad -->
      <label>Capacidad</label>
      <input type="number" placeholder="Ingrese la capacidad del vehiculo" formControlName="capacidad">
      <div class="error"
           *ngIf="vehicleForm.get('capacidad')?.touched && vehicleForm.get('capacidad')?.invalid">
        <small *ngIf="vehicleForm.get('capacidad')?.errors?.['required']">* Este campo es obligatorio.</small>
        <small *ngIf="vehicleForm.get('capacidad')?.errors?.['min']">* Mínimo 1 asiento.</small>
      </div>

      <!-- Color -->
      <label>Color</label>
      <input type="text" placeholder="Ingrese el color del vehículo" formControlName="color">
      <div class="error"
           *ngIf="vehicleForm.get('color')?.touched && vehicleForm.get('color')?.invalid">
        <small *ngIf="vehicleForm.get('color')?.errors?.['required']">* Este campo es obligatorio.</small>
      </div>

      <!-- SOAT -->
      <label>SOAT</label>
      <div class="radio-group">
        <label><input type="radio" formControlName="soat" value="si"> Sí</label>
        <label><input type="radio" formControlName="soat" value="no"> No</label>
      </div>
      <div class="error"
           *ngIf="vehicleForm.get('soat')?.touched && vehicleForm.get('soat')?.invalid">
        <small>* Selecciona una opción.</small>
      </div>

      <button type="button" (click)="register()">Registrarse</button>

    </form>

    <hr/>

    <p>¿Ya tienes una cuenta? <a routerLink="/auth/login">Accede a tu cuenta</a></p>

  </div>
</div>
@if (mostrarExitoso) {
    <div class="popup-ex-overlay">
      <div class="popup-ex-box">
        <div class="popup-ex-close" (click)="cerrarExito()">x</div>

        <p class="popup-ex-message"> ¡Se ha creado la cuenta con éxito! </p>
        <img class="trayectoria-ex-img" src="assets/check_mark.png" />

      </div>
    </div>
  }
