.register-container {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: #f7dbd4;
}

.card {
  width: 600px;
  background: white;
  padding: 50px;
  border-radius: 40px;
  text-align: center;
}

/* Logo */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 25px;
}

.logo img {
  width: 90px;
}

/* --- Steps --- */
.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
  font-size: 12px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background: transparent;
}

.circle.active {
  background: #2b3dbb;
  border-color: #2b3dbb;
}

.line {
  width: 60px;
  height: 2px;
  background: #ccc;
  margin-top: -25px;
}

.label {
  font-size: 13px;
  color: #333;
}

/* --- Formulario --- */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}

label {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

input {
  height: 45px;
  border-radius: 25px;
  border: 1.8px solid #2b3dbb;
  padding: 0 20px;
  outline: none;
}

input::placeholder {
  color: #e6e6e6;
}

/* Radio buttons */
.radio-group {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.radio-group label {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

button {
  margin-top: 20px;
  height: 45px;
  background: #2b3dbb;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 12px rgba(43,61,187,0.25);
}

hr {
  margin: 35px 0;
  border: none;
  height: 1px;
  background: #ddd;
}

p {
  font-size: 14px;
}

a {
  color: #2b3dbb;
}

/* Fondo oscuro (antes .poppup) */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(108, 108, 108, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

/* Caja blanca (antes .rectangle-188) */
.popup-box {
  width: 90%;
  max-width: 900px;
  height: 639px;
  padding: 50px 40px;
  background: white;
  border-radius: 10px;
  position: relative;


   /* Forzar centrado vertical y horizontal */

  flex-direction: column;
  align-items: center;
}

/* X para cerrar */
.popup-close {
  position: absolute;
  right: 45px;
  top: 20px;
  font-size: 48px;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

/* Ícono de error */
.popup-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 90px;
  margin-top: 70px;
}

/* Texto del mensaje */
.popup-message {
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color:#620713;
  max-width: 700px;

  line-height: 1.2;
}

/* Texto del mensaje */
.popup-section {
  left:15px;
  position: relative;
  padding-top: 22px;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: black;
  max-width: 700px;

  line-height: 1.2;
}

/* Texto del mensaje */
.popup-info {
  left:15px;
  position: relative;
  padding-top: 15px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: black;
  max-width: 700px;

  line-height: 1.2;
}

/* Fondo oscuro (antes .poppup) */
.popup-ex-overlay {
  position: fixed;
  inset: 0;
  background: rgba(108, 108, 108, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  
}

/* Caja blanca (antes .rectangle-188) */
.popup-ex-box {
  width: 50%;
  max-width: 900px;
  height: 400px;
  padding: 50px 40px;
  background: white;
  border-radius: 10px;
  position: relative;


  flex-direction: column;
  align-items: center;
}

/* X para cerrar */
.popup-ex-close {
  position: absolute;
  right: 45px;
  top: 20px;
  font-size: 48px;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

/* Ícono de error */
.popup-ex-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 90px;
  margin-top: 70px;
}

/* Texto del mensaje */
.popup-ex-message {
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color:#620713;
  max-width: 700px;
  text-align: center;
  line-height: 1.2;
  top: 80px;
  position: relative;
}

.trayectoria-ex-img{
  left: 300px;
  top: 100px;
  width: 100px;
  height: auto;
  position: relative;
}
