.ellipse-2 {
  width: 20px;
  height: 19.98px;
  left: 1758px;
  top: 381.44px;
  position: absolute;
  background: #C4C4C4;
  border-radius: 9999px;
}

.frame-427318921 {
  width: 1920px;
  height: 968px;
  left: 0px;
  top: 10px;
  position: absolute;
}

.image-21 {
  width: 900px;
  height: 675px;
  left: 923px;
  top: 115px;
  position: absolute;
  border-radius: 25px;
}

.muvetefcilconuniride_span {
  color: #2A324B;
  font-size: 96px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.muvete-fcil-con-uniride {
  width: 552px;
  left: 234px;
  top: 236px;
  position: absolute;
}

.eresestudiantedelaupcconuniridesiemprehayunviajecercadeticonectaconotrosuniversitarioscompartetrayectosyllegaatudestinodemaneraeconmicarpidaysegura_span {
  color: #2A324B;
  font-size: 36px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.eres-estudiante-de-la-upc-con-uniride-siempre-hay-un-viaje-cerca-de-ti-conecta-con-otros-universitarios-comparte-trayectos-y-llega-a-tu-destino-de-manera-econmica-rpida-y-segura {
  width: 1013px;
  height: 153px;
  left: 198px;
  top: 29px;
  position: absolute;
  text-align: center;
}

.encuentraturutaideal_span {
  color: #880D1E;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.encuentra-tu-ruta-ideal {
  width: 574px;
  height: 93px;
  left: 278px;
  top: 0px;
  position: absolute;
  text-align: center;
}

.descubreviajescreadosporestudiantescomotfiltrapororigendestinoyhorariosparaelegirlaopcinquemejorseadapteatudaahorradineroviajaacompaadoymuvetecontranquilidaddentrodetucomunidaduniversitaria_span {
  color: black;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.descubre-viajes-creados-por-estudiantes-como-t-filtra-por-origen-destino-y-horarios-para-elegir-la-opcin-que-mejor-se-adapte-a-tu-da-ahorra-dinero-viaja-acompaado-y-muvete-con-tranquilidad-dentro-de-tu-comunidad-universitaria {
  width: 512px;
  height: 231px;
  left: 309px;
  top: 120px;
  position: absolute;
}

.image-43 {
  width: 630px;
  height: 420px;
  left: 1018px;
  top: 0px;
  position: absolute;
  border-radius: 50px;
}

.compartetucamino_span {
  color: #880D1E;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.comparte-tu-camino {
  width: 574px;
  height: 93px;
  left: 1037px;
  top: 0px;
  position: absolute;
  text-align: center;
}

.siviajassoloconvirteloenunaexperienciacompartidapublicaturutaindicandopuntodepartidadestinohorariosycapacidaddetuvehculocompartegastosconocenuevoscompaerosyviajaconestudiantesdeconfianza_span {
  color: black;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.si-viajas-solo-convirtelo-en-una-experiencia-compartida-publica-tu-ruta-indicando-punto-de-partida-destino-horarios-y-capacidad-de-tu-vehculo-comparte-gastos-conoce-nuevos-compaeros-y-viaja-con-estudiantes-de-confianza {
  width: 468px;
  height: 261px;
  left: 1100px;
  top: 93px;
  position: absolute;
}

.image-44 {
  width: 630px;
  height: 420px;
  left: 273px;
  top: 0px;
  position: absolute;
  border-radius: 50px;
}

.msqueunviaje_span {
  color: #880D1E;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.ms-que-un-viaje {
  width: 574px;
  height: 93px;
  left: 222px;
  top: 0px;
  position: absolute;
  text-align: center;
}

.nuestroservicionosoloconectaconductoresypasajerosfomentalacolaboracinentreestudiantesreduceeltrficoyayudaalmedioambienteconuniridecadatrayectocuentaparaconstruirunamovilidadmssolidariaprcticaysostenible_span {
  color: black;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.nuestro-servicio-no-solo-conecta-conductores-y-pasajeros-fomenta-la-colaboracin-entre-estudiantes-reduce-el-trfico-y-ayuda-al-medio-ambiente-con-uniride-cada-trayecto-cuenta-para-construir-una-movilidad-ms-solidaria-prctica-y-sostenible {
  width: 468px;
  height: 330px;
  left: 328px;
  top: 93px;
  position: absolute;
}

.image-45 {
  width: 942.35px;
  height: 445px;
  left: -30px;
  top: 0px;
  position: absolute;
  border-radius: 50px;
}

.preguntasfrecuentes_span {
  color: #2A324B;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.preguntas-frecuentes {
  width: 574px;
  height: 93px;
  left: 673px;
  top: 3107px;
  position: absolute;
  text-align: center;
}

.cmopuedoreservarunviajecompartido_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 43.20px;
  word-wrap: break-word;
}

.cmo-puedo-reservar-un-viaje-compartido {
  left: 114px;
  top: 70px;
  position: absolute;
  text-align: center;
}

.puedesreservarunviajedesdenuestraaplicacinwebsolodebesingresartupuntodeorigendestinofechayhorariopreferidoluegopodrsverlosviajesdisponiblesyelegirelquemejorseajusteatidependiendodelconductortusolicitudpuedeconfirmarsedeformaautomticaomanualencualquiercasoreservarconunirideesrpidosimpleyseguro_span {
  color: black;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 37.80px;
  word-wrap: break-word;
}

.puedes-reservar-un-viaje-desde-nuestra-aplicacin-web-solo-debes-ingresar-tu-punto-de-origen-destino-fecha-y-horario-preferido-luego-podrs-ver-los-viajes-disponibles-y-elegir-el-que-mejor-se-ajuste-a-ti-dependiendo-del-conductor-tu-solicitud-puede-confirmarse-de-forma-automtica-o-manual-en-cualquier-caso-reservar-con-uniride-es-rpido-simple-y-seguro {
  width: 1221px;
  left: 120px;
  top: 149px;
  position: absolute;
}

.cmopuedopublicarunviajecompartido_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 43.20px;
  word-wrap: break-word;
}

.cmo-puedo-publicar-un-viaje-compartido {
  left: 114px;
  top: 70px;
  position: absolute;
  text-align: center;
}

.publicartuviajeenunirideesmuysencillosoloingresaalaaplicacinregistratupuntodepartidadestinohorarioylacantidaddeasientosdisponiblestambinpuedesaadirdetallesquetuspasajerosdebanconocercomopuntosdeencuentrounavezpublicadolosestudiantesinteresadospodrnunirseaturuta_span {
  color: black;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 37.80px;
  word-wrap: break-word;
}

.publicar-tu-viaje-en-uniride-es-muy-sencillo-solo-ingresa-a-la-aplicacin-registra-tu-punto-de-partida-destino-horario-y-la-cantidad-de-asientos-disponibles-tambin-puedes-aadir-detalles-que-tus-pasajeros-deban-conocer-como-puntos-de-encuentro-una-vez-publicado-los-estudiantes-interesados-podrn-unirse-a-tu-ruta {
  width: 1221px;
  left: 120px;
  top: 149px;
  position: absolute;
}

.cuntocuestaunviajeenuniride_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 43.20px;
  word-wrap: break-word;
}

.cunto-cuesta-un-viaje-en-uniride {
  left: 120px;
  top: 70px;
  position: absolute;
  text-align: center;
}

.elcostodependedeladistancialarutayloqueacuerdeelconductorcadaconductorestableceunacontribucinjustaporasientoparacubrirgastosbsicosdemovilidadsiemprepodrsverelmontoantesdeconfirmartuviaje_span {
  color: black;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 37.80px;
  word-wrap: break-word;
}

.el-costo-depende-de-la-distancia-la-ruta-y-lo-que-acuerde-el-conductor-cada-conductor-establece-una-contribucin-justa-por-asiento-para-cubrir-gastos-bsicos-de-movilidad-siempre-podrs-ver-el-monto-antes-de-confirmar-tu-viaje {
  width: 1221px;
  left: 120px;
  top: 149px;
  position: absolute;
}

.puedocancelarunviajesicambiodeplanes_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 43.20px;
  word-wrap: break-word;
}

.puedo-cancelar-un-viaje-si-cambio-de-planes {
  left: 120px;
  top: 70px;
  position: absolute;
  text-align: center;
}

.spuedescancelartuviajeencualquiermomentoterecomendamoshacerloloantesposibleparaqueotrosestudiantespuedanorganizarseytomartulugar_span {
  color: black;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 37.80px;
  word-wrap: break-word;
}

.s-puedes-cancelar-tu-viaje-en-cualquier-momento-te-recomendamos-hacerlo-lo-antes-posible-para-que-otros-estudiantes-puedan-organizarse-y-tomar-tu-lugar {
  width: 1221px;
  left: 120px;
  top: 149px;
  position: absolute;
}

.cmoempiezoausaruniride_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 43.20px;
  word-wrap: break-word;
}

.cmo-empiezo-a-usar-uniride {
  left: 120px;
  top: 70px;
  position: absolute;
  text-align: center;
}

.esmuyfcilygratuitosoloregstrateennuestraaplicacinwebcontusdatosuniversitariosunavezcreadotuperfilpodrscomenzarabuscarviajesdisponiblescomopasajeroopublicartusrutascomoconductor_span {
  color: black;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 37.80px;
  word-wrap: break-word;
}

.es-muy-fcil-y-gratuito-solo-regstrate-en-nuestra-aplicacin-web-con-tus-datos-universitarios-una-vez-creado-tu-perfil-podrs-comenzar-a-buscar-viajes-disponibles-como-pasajero-o-publicar-tus-rutas-como-conductor {
  width: 1221px;
  left: 120px;
  top: 149px;
  position: absolute;
}

.frame-427318934 {
  width: 1410px;
  height: 228px;
  left: 255px;
  top: 1039px;
  position: absolute;
  overflow: hidden;
}

.pregunta_1 {
  width: 1462px;
  height: 371px;
  left: 229px;
  top: 3258px;
  position: absolute;
  opacity: 0.80;
  background: white;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  border-radius: 50px;
}

.pregunta_1_01 {
  width: 1462px;
  height: 333px;
  left: 229px;
  top: 3687px;
  position: absolute;
  opacity: 0.80;
  background: white;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  border-radius: 50px;
}

.pregunta_1_02 {
  width: 1462px;
  height: 295px;
  left: 229px;
  top: 4434px;
  position: absolute;
  opacity: 0.80;
  background: white;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  border-radius: 50px;
}

.pregunta_1_03 {
  width: 1462px;
  height: 295px;
  left: 229px;
  top: 4078px;
  position: absolute;
  opacity: 0.80;
  background: white;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  border-radius: 50px;
}

.pregunta_1_04 {
  width: 1462px;
  height: 295px;
  left: 229px;
  top: 4790px;
  position: absolute;
  opacity: 0.80;
  background: white;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  border-radius: 50px;
}

.frame-427318922 {
  width: 1920px;
  height: 978px;
  left: 0px;
  top: 943px;
  position: absolute;
  overflow: hidden;
}

.pasajeros {
  width: 1920px;
  height: 420px;
  left: 0px;
  top: 1401px;
  position: absolute;
  overflow: hidden;
}

.conductores {
  width: 1920px;
  height: 420px;
  left: 0px;
  top: 1960px;
  position: absolute;
  overflow: hidden;
}

.frame-427318938 {
  width: 630px;
  height: 420px;
  left: 1016px;
  top: 0px;
  position: absolute;
  background: white;
  overflow: hidden;
  border-radius: 50px;
}

.planes-y-precios {
  width: 1920px;
  height: 905px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #FDE5DF;
  overflow: hidden;
}

.conductores_01 {
  width: 1920px;
  height: 420px;
  left: 0px;
  top: 2519px;
  position: absolute;
  overflow: hidden;
}

.body {
  width: 1920px;
  height: 5283px;
  position: relative;
  background: white;
  overflow: hidden;
}