<div class="total">
  <div class="ver-ms"><span class="verms_span">Ver más</span></div>
  <div class="polygon-3"></div>
  <div class="viaje_1">
    <div class="av-aviacin-2202-upc-monterrico"><span class="avaviacin2202upcmonterrico_span">Av. Aviación 2202 → UPC Monterrico</span></div>
    <div class="text-15-septiembre-2049"><span class="f5septiembre2049_span">15 septiembre  20:49 </span></div>
    <div class="s-1290"><span class="s1290_span">S/ 12,90</span></div>
    <img class="people-in-car-side-view" src="https://placehold.co/90x90" />
  </div>
  <div class="viaje_2">
    <div class="av-aviacin-2202-upc-monterrico_01"><span class="avaviacin2202upcmonterrico_01_span">Av. Aviación 2202 → UPC Monterrico</span></div>
    <div class="text-15-septiembre-2049_01"><span class="f5septiembre2049_01_span">15 septiembre  20:49 </span></div>
    <div class="s-1290_01"><span class="s1290_01_span">S/ 12,90</span></div>
    <img class="people-in-car-side-view_01" src="https://placehold.co/90x90" />
  </div>
  <div class="viaje_3">
    <div class="av-aviacin-2202-upc-monterrico_02"><span class="avaviacin2202upcmonterrico_02_span">Av. Aviación 2202 → UPC Monterrico</span></div>
    <div class="text-15-septiembre-2049_02"><span class="f5septiembre2049_02_span">15 septiembre  20:49 </span></div>
    <div class="s-1290_02"><span class="s1290_02_span">S/ 12,90</span></div>
    <img class="people-in-car-side-view_02" src="https://placehold.co/90x90" />
  </div>
  <div class="viaje_4">
    <div class="av-aviacin-2202-upc-monterrico_03"><span class="avaviacin2202upcmonterrico_03_span">Av. Aviación 2202 → UPC Monterrico</span></div>
    <div class="text-15-septiembre-2049_03"><span class="f5septiembre2049_03_span">15 septiembre  20:49 </span></div>
    <div class="s-1290_03"><span class="s1290_03_span">S/ 12,90</span></div>
    <img class="people-in-car-side-view_03" src="https://placehold.co/90x90" />
  </div>
  <div class="total_viajes"><span class="total_viajes_span">82</span></div>
  <div class="total_viajes_titulo"><span class="total_viajes_titulo_span">Total de viajes realizados</span></div>
  <div class="frecuencia_viajes_titulo"><span class="frecuencia_viajes_titulo_span">Frecuencia de viajes durante la semana</span></div>
  <div class="exportar_historial_titulo"><span class="exportar_historial_titulo_span">Exportar historial en PDF</span></div>
  <div class="viajes_frecuentes_titulo"><span class="viajes_frecuentes_titulo_span">Viajes frecuentes</span></div>
  <img class="histograma" src="https://placehold.co/1261x709" />
  <div class="descargar_btn">
    <div class="conoce-ms"><span class="conocems_span">Descargar</span></div>
  </div>
</div>
