.verms_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.ver-ms {
  width: 100px;
  height: 36px;
  left: 892px;
  top: 2329px;
  position: absolute;
}

.polygon-3 {
  width: 15.59px;
  height: 13.50px;
  left: 1027.59px;
  top: 2354.50px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: top left;
  background: black;
}

.avaviacin2202upcmonterrico_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.av-aviacin-2202-upc-monterrico {
  left: 286px;
  top: 57px;
  position: absolute;
  text-align: center;
}

.f5septiembre2049_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 43.20px;
  word-wrap: break-word;
}

.text-15-septiembre-2049 {
  width: 264px;
  left: 872px;
  top: 53px;
  position: absolute;
}

.s1290_span {
  color: black;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 57.60px;
  word-wrap: break-word;
}

.s-1290 {
  width: 125px;
  left: 1225px;
  top: 45px;
  position: absolute;
  text-align: center;
}

.people-in-car-side-view {
  width: 90px;
  height: 90px;
  left: 82px;
  top: 30px;
  position: absolute;
}

.avaviacin2202upcmonterrico_01_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.av-aviacin-2202-upc-monterrico_01 {
  left: 286px;
  top: 57px;
  position: absolute;
  text-align: center;
}

.f5septiembre2049_01_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 43.20px;
  word-wrap: break-word;
}

.text-15-septiembre-2049_01 {
  width: 264px;
  left: 872px;
  top: 53px;
  position: absolute;
}

.s1290_01_span {
  color: black;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 57.60px;
  word-wrap: break-word;
}

.s-1290_01 {
  width: 125px;
  left: 1225px;
  top: 45px;
  position: absolute;
  text-align: center;
}

.people-in-car-side-view_01 {
  width: 90px;
  height: 90px;
  left: 82px;
  top: 30px;
  position: absolute;
}

.avaviacin2202upcmonterrico_02_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.av-aviacin-2202-upc-monterrico_02 {
  left: 286px;
  top: 57px;
  position: absolute;
  text-align: center;
}

.f5septiembre2049_02_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 43.20px;
  word-wrap: break-word;
}

.text-15-septiembre-2049_02 {
  width: 264px;
  left: 872px;
  top: 53px;
  position: absolute;
}

.s1290_02_span {
  color: black;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 57.60px;
  word-wrap: break-word;
}

.s-1290_02 {
  width: 125px;
  left: 1225px;
  top: 45px;
  position: absolute;
  text-align: center;
}

.people-in-car-side-view_02 {
  width: 90px;
  height: 90px;
  left: 82px;
  top: 30px;
  position: absolute;
}

.avaviacin2202upcmonterrico_03_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.av-aviacin-2202-upc-monterrico_03 {
  left: 286px;
  top: 57px;
  position: absolute;
  text-align: center;
}

.f5septiembre2049_03_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 43.20px;
  word-wrap: break-word;
}

.text-15-septiembre-2049_03 {
  width: 264px;
  left: 872px;
  top: 53px;
  position: absolute;
}

.s1290_03_span {
  color: black;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 57.60px;
  word-wrap: break-word;
}

.s-1290_03 {
  width: 125px;
  left: 1225px;
  top: 45px;
  position: absolute;
  text-align: center;
}

.people-in-car-side-view_03 {
  width: 90px;
  height: 90px;
  left: 82px;
  top: 30px;
  position: absolute;
}

.total_viajes_span {
  color: #DE2D4A;
  font-size: 128px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 230.40px;
  word-wrap: break-word;
}

.total_viajes {
  width: 574px;
  height: 213px;
  left: 667px;
  top: 217px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.total_viajes_titulo_span {
  color: #2A324B;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.total_viajes_titulo {
  width: 574px;
  height: 93px;
  left: 673px;
  top: 57px;
  position: absolute;
  text-align: center;
}

.frecuencia_viajes_titulo_span {
  color: #2A324B;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.frecuencia_viajes_titulo {
  width: 574px;
  height: 93px;
  left: 667px;
  top: 497px;
  position: absolute;
  text-align: center;
}

.exportar_historial_titulo_span {
  color: #2A324B;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.exportar_historial_titulo {
  width: 574px;
  height: 93px;
  left: 403px;
  top: 2427px;
  position: absolute;
  text-align: center;
}

.viajes_frecuentes_titulo_span {
  color: #2A324B;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.viajes_frecuentes_titulo {
  width: 574px;
  height: 93px;
  left: 667px;
  top: 1431px;
  position: absolute;
  text-align: center;
}

.histograma {
  width: 1261px;
  height: 709px;
  left: 329px;
  top: 706px;
  position: absolute;
}

.conocems_span {
  color: #FDE5DF;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.conoce-ms {
  width: 146px;
  left: 41px;
  top: 14px;
  position: absolute;
  text-align: center;
}

.descargar_btn {
  width: 227px;
  height: 60px;
  left: 1076px;
  top: 2435px;
  position: absolute;
  background: #880D1E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 80px;
}

.viaje_1 {
  width: 1446px;
  height: 149px;
  left: 237px;
  top: 1557px;
  position: absolute;
  opacity: 0.80;
  background: white;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  border-radius: 50px;
}

.viaje_2 {
  width: 1446px;
  height: 149px;
  left: 237px;
  top: 1751px;
  position: absolute;
  opacity: 0.80;
  background: white;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  border-radius: 50px;
}

.viaje_3 {
  width: 1446px;
  height: 149px;
  left: 241px;
  top: 1945px;
  position: absolute;
  opacity: 0.80;
  background: white;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  border-radius: 50px;
}

.viaje_4 {
  width: 1446px;
  height: 149px;
  left: 237px;
  top: 2137px;
  position: absolute;
  opacity: 0.80;
  background: white;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  border-radius: 50px;
}

.total {
  width: 1920px;
  height: 2757px;
  position: relative;
  overflow: hidden;
}
